@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    width: 1366px;
    margin: auto;
    background-color: rgb(217, 255, 214);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

img {
    display: block;
    margin: 0 auto;
}

.knop {
    background-color: lightgreen;
    border: solid;
    border-radius: 10px;
    font-size: 20px;
}

table.over {
    border-collapse: collapse;
    width: 100%;
}

button.knop:hover {
    background-color: #4CAF50;
}

a {
    text-decoration: none
}

button.knopDetails {
    background-color: lightgreen;
    border: solid;
    border-radius: 10px;
    font-size: 20px;
    width: 70%;
    margin: auto;
    display: block;
}

table.talbeDetails {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

td.tdDetailsRow {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(184, 229, 181);
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
}

button.knopDetails:hover {
    background-color: #4CAF50;
}

.actief {
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(184, 229, 181);
    box-shadow: 5px 5px 5px grey;
}

table.log {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid green;
    box-shadow: 5px 5px 5px grey;
}

th.log, td.log {
    text-align: center;
    padding-right: 20px;
}

tr.log:nth-child(even) {
    background-color: #f2f2f2
}

tr.log:nth-child(odd){
    background-color: lightgray;
}
th.log {
    background-color: #4CAF50;
    color: white;
}
