{% extends "Base.html" %}
{% block title %}
    Details
{% endblock %}

{% block Details %}
    class="active"
{% endblock %}

{% block body %}
    <h1>Welkom op Details 4</h1>
    <table>
        <tr>
            <td><h2>Temperatuur sensor 1</h2></td>
        </tr>
        <tr>
            <td>
                <a href="details">
                    <button class="knop" style="width: 100%">Klik hier</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><h2>Temperatuur sensor 2</h2></td>
        </tr>
        <tr>
            <td>
                <a href="details2">
                    <button class="knop" style="width: 100%">Klik hier</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><h2>Vochtigheid sensor 1</h2></td>
        </tr>
        <tr>
            <td>
                <a href="details3">
                    <button class="knop" style="width: 100%">Klik hier</button>
                </a>
            </td>
        </tr>
        <tr>
            <td><h2>Vochtigheid sensor 2</h2></td>
        </tr>
        <tr>
            <td>
                <a href="details4">
                    <button class="knop" style="width: 100%">Klik hier</button>
                </a>
            </td>
        </tr>

    </table>
{% endblock %}