{% extends "Base.html" %}
{% block title %}
    Details
{% endblock %}

{% block Details %}
    class="active"
{% endblock %}

{% block body %}
    <h1>Details of the sensors:</h1>
    <table class="talbeDetails">
        <tr class="trDetails">
            <td class="tdDetailsRow">
                <h2>Temperature inside</h2>
                <button onclick="window.location.href='details'" class="knopDetails">click here</button>
            </td>

            <td class="actief">
                <h2>Temperature outside</h2>
                <button onclick="window.location.href='details2'" class="knopDetails">click here</button>
            </td>

            <td class="tdDetailsRow">
                <h2>Humidity Zone 1</h2>
                <button onclick="window.location.href='details3'" class="knopDetails">click here</button>
            </td>

            <td class="tdDetailsRow">
                <h2>Humidity Zone 2</h2>
                <button onclick="window.location.href='details4'" class="knopDetails">click here</button>
            </td>
        </tr>
    </table>
    <table style="width: 70%; margin: auto">
        <td>
            <div style="width:100%; margin-top: 3%">
                <canvas id="canvas"></canvas>
            </div>
        </td>
    </table>
    <script src="/static/js/Details2.js"></script>
    <script>

        loadChart({{ Data[::-1] }});

    </script>
    <script type="text/javascript">
        setTimeout(function () {
            location.reload(true);
        }, 5000);
    </script>
{% endblock %}