{% extends "Base.html" %}
{% block title %}
    Home
{% endblock %}

{% block Home %}
    class="active"
{% endblock %}

{% block body %}

    <br>
    <fieldset>
        <legend><h2>Manual control:</h2></legend>
        <form action="/setGPIO" method="post">

            <table class="talbeDetails">
                <tr>
                    <td class="tdDetailsRow">
                        <div style="font-size: 30px; margin-bottom: 10px; ">
                            Pump:
                        </div>
                        <button type="submit" value="11" name="value_set" class="knop">ON</button>
                        <button type="submit" value="10" name="value_set" class="knop" style="margin-top: 5px">OFF</button>
                    </td>
                    <td class="tdDetailsRow">
                        <div style="font-size: 30px; margin-bottom: 10px; ">
                            Fan:
                        </div>
                        <button type="submit" value="21" name="value_set" class="knop">ON</button>
                        <button type="submit" value="20" name="value_set" class="knop" style="margin-top: 5px">OFF</button>
                    </td>
                    <td class="tdDetailsRow">
                        <div style="font-size: 30px; margin-bottom: 10px; ">
                            LED strip:
                        </div>
                        <button type="submit" value="31" name="value_set" class="knop">ON</button>
                        <button type="submit" value="30" name="value_set" class="knop" style="margin-top: 5px">OFF</button>
                    </td>
                    <td class="tdDetailsRow">
                        <div style="font-size: 30px; margin-bottom: 10px; ">
                            Roof:
                        </div>
                        <button type="submit" value="41" name="value_set" class="knop">OPEN</button>
                        <button type="submit" value="40" name="value_set" class="knop" style="margin-top: 5px">CLOSE</button>
                    </td>
            </table>
            <div style="margin-left: 20px">Manual or Automatic (current set: <b>{{ state }}</b> ):
                <button type="submit" value="1" name="value_set" class="knop" style="width: 110px">Manual</button>
                <button type="submit" value="0" name="value_set" class="knop" style="width: 110px">Automatic</button>
                (Wen set to automatic buttons above are disabled)
            </div>
        </form>
    </fieldset>
    <br>

    <fieldset>
        <legend><h2>Status:</h2></legend>
        <table style="width: 100%; margin: auto">
            <tr>
                <th>Temperature inside</th>
                <th>Temperature outside</th>
                <th>Humidity zone 1</th>
                <th>Humidity zone 2</th>
            </tr>
            <tr style="text-align: center">
                {% for log in StateTemp %}
                    <td>{{ log[1] }} °C</td>
                    <td>{{ log[2] }} °C</td>
                {% endfor %}
                {% for log in StateHumidity %}
                    <td>{{ log[1] }} %</td>
                    <td>{{ log[2] }} %</td>
                {% endfor %}
            </tr>
        </table>
    </fieldset>

    <br>
    <fieldset>
        <legend><h2>Data sensors:</h2></legend>
        <table style="width: 100%">
            <tr>
                <td>
                    <table class="log">
                        <tr class="log">
                            <th class="log">ID</th>
                            <th class="log">Temperature inside</th>
                            <th class="log">Date/Time</th>
                        </tr>
                        {% for log in Temp %}
                            <tr class="log">
                                <td class="log">{{ log[0] }}</td>
                                <td class="log">{{ log[1] }}°C</td>
                                <td class="log">{{ log[3] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table class="log">
                        <tr class="log">
                            <th class="log">ID</th>
                            <th class="log">Temperature outside</th>
                            <th class="log">Date/Time</th>
                        </tr>
                        {% for log in Temp %}
                            <tr class="log">
                                <td class="log">{{ log[0] }}</td>
                                <td class="log">{{ log[2] }}°C</td>
                                <td class="log">{{ log[3] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="log">
                        <tr class="log">
                            <th class="log">ID</th>
                            <th class="log">Humidity zone 1</th>
                            <th class="log">Date/Time</th>
                        </tr>
                        {% for log in Humidity %}
                            <tr class="log">
                                <td class="log">{{ log[0] }}</td>
                                <td class="log">{{ log[1] }}%</td>
                                <td class="log">{{ log[3] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table class="log">
                        <tr class="log">
                            <th class="log">ID</th>
                            <th class="log">Humidity zone 2</th>
                            <th class="log">Date/time</th>
                        </tr>
                        {% for log in Humidity %}
                            <tr class="log">
                                <td class="log">{{ log[0] }}</td>
                                <td class="log">{{ log[2] }}%</td>
                                <td class="log">{{ log[3] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </fieldset>

    <script type="text/javascript">
        setTimeout(function () {
            location.reload(true);
        }, 5000);
    </script>

{% endblock %}