{% extends "Base.html" %}
{% block title %}
    instellingen
{% endblock %}

{% block instellingen %}
    class="active"
{% endblock %}

{% block body %}
    <form action="/setInstellingen" method="post">
        <table class="instellingenOutside">
            <tr class="instellingenOutside">
                <td class="instellingenOutside">
                    <table class="instellingenInside">
                        <tr>
                            <td class="instellingenInside">
                                <h2>Wanted Ttemp:</h2>
                                {% for setting in Data %}
                                    <div>Current set: {{ setting[1] }}°C</div>
                                {% endfor %}
                                <input type="text" name="Temperature"><br><br>
                                <button type="submit" class="knop">OK</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="instellingenOutside">
                    <table class="instellingenInside">
                        <tr>
                            <td class="instellingenInside">
                                <h2>Wanted Humidity:</h2>
                                {% for setting in Data %}
                                    <div>Current set: {{ setting[2] }}%</div>
                                {% endfor %}
                                <input type="text" name="Humidity"><br><br>
                                <button type="submit" class="knop">OK</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}