{% extends "Base.html" %}
{% block title %}
    instellingen
{% endblock %}

{% block instellingen %}
    class="active"
{% endblock %}

{% block body %}
    <form action="/setInstellingen" method="post">
        <table class="instellingenOutside">
            <tr class="instellingenOutside">
                <td class="instellingenOutside">
                    <table class="instellingenInside">
                        <tr>
                            <td class="instellingenInside">
                                <div>Wanted Ttemp:</div>
                                <div>Current set:</div>
                                <input type="text" name="Temperature"><br><br>
                                <button type="submit" class="knop">OK</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="instellingenOutside">
                    <table class="instellingenInside">
                        <tr>
                            <td class="instellingenInside">
                                <div>Wanted Humidity:</div>
                                <div>Current set:</div>
                                <input type="text" name="Humidity"><br><br>
                                <button type="submit" class="knop">OK</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}