{% extends "Base.html" %}
{% block title %}
    Over
{% endblock %}

{% block Over %}
    class="active"
{% endblock %}

{% block body %}
    <table class="over">

        <tr class="over">
            <td class="over"><h1 style="text-decoration: underline">Wat is SerreMatic?</h1></td>
        </tr>
        <tr class="over" style="background-color: white">
            <td class="over" style="border-radius: 10px">
                SerreMatic is een automatische serre die je kan besturen via deze webside. De serre bevat vele sensoren die de serre besturen en
                in de gaten houden. De bedoeling is dat je planten in de serre plaatst en de serre de rest doet voor jou. <br>
                <br>
                De sensoren controleerd onderanderede temperatuur en de vochtigheid van de planten. Als de temperatuur te hoog wordt wordt een ventilator opgestart en wordt het dak
                opengeplaatst. Als de planten te droog zijn wordt een automatisch sproeiingsysteem gestart die de planten water geven.
            </td>
        </tr>

        <tr class="over">
            <td class="over"><h1 style="text-decoration: underline">Hoe te gebruiken?</h1></td>
        </tr>
        <tr class="over" style="background-color: white">
            <td class="over" style="border-radius: 10px">
                <u>Tablad HOME:</u> Op het tablad home kan je de status van de serre bekijken. Ook kan je manueel de serre besturen. Je kan ook de waarden van de sensoren zien in een tabel. <br>
                <br>
                <u>Tablad Details:</u> Op deze pagina kan je per sensor een grafiek zien van de gegevens dat de sensor heet opgeslaan.
            </td>
        </tr>

        <tr class="over">
            <td class="over"><h1 style="text-decoration: underline">Hoe gebruik ik de APP?</h1></td>
        </tr>
        <tr class="over" style="background-color: white">
            <td class="over" style="border-radius: 10px">
                Work in progress
            </td>
        </tr>

        <tr class="over">
            <td class="over"><h1 style="text-decoration: underline">Blockschema</h1></td>
        </tr>
        <tr class="over" style="background-color: white">
            <td class="over" style="border-radius: 10px">
                <img src="/static/images/blockschema.png" alt="blockschema">
            </td>
        </tr>

    </table>

{% endblock %}